# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\+++FUTURE PLANE\+++ My Ultimate Program\My Programming Courses and Material\Python\Django-projects-udemy course\password_generator-project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
